{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'inicio.css' %}">


<h1 class="titulo">Control de Inventario Claro</h1>
{% for tienda in tiendas %}
{% endfor %} 
    
                  <div class="col-md-6 card-container">
                    <a href="{% url 'render_tienda1' %}" style="color: black; text-decoration: none;">
                      <div class="card mt-5 hover-effect tarjeta-personalizada align-self-start">
                        <div class="card-body py-5">
                          <h1 class="card-title text-center">Tienda 1</h1>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 card-container">
                    <a href="{% url 'render_tienda2' %}" style="color: black; text-decoration: none;">
                      <div class="card mt-5 hover-effect tarjeta-personalizada align-self-start">
                        <div class="card-body py-5">
                          <h1 class="card-title text-center">Tienda 2</h1>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 card-container">
                    <a href="{% url 'render_tienda3' %}" style="color: black; text-decoration: none;">
                      <div class="card mt-5 hover-effect tarjeta-personalizada align-self-start">
                        <div class="card-body py-5">
                          <h1 class="card-title text-center">Tienda 3</h1>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 card-container">
                    <a href="{% url 'render_tienda4' %}" style="color: black; text-decoration: none;">
                      <div class="card mt-5 hover-effect tarjeta-personalizada align-self-start">
                        <div class="card-body py-5">
                          <h1 class="card-title text-center">Tienda 4</h1>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 card-container">
                    <a href="{% url 'render_tienda5' %}" style="color: black; text-decoration: none;">
                      <div class="card mt-5 hover-effect tarjeta-personalizada align-self-start">
                        <div class="card-body py-5">
                          <h1 class="card-title text-center">Tienda 5</h1>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 card-container">
                    <a href="{% url 'cantidad_datos' %}" style="color: black; text-decoration: none;">
                      <div class="card mt-5 hover-effect tarjeta-personalizada align-self-start">
                        <div class="card-body py-5">
                          <h1 class="card-title text-center">Analisis</h1>
                        </div>
                      </div>
                    </a>
                  </div>

                  
